.educacion-lista {
    list-style: none;
    padding: 10;
    margin-top: 20px;
}

.educacion-lista li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
}
.educacion-lista li.icono-primaria:before {
    content: "🎓";
    margin-right: 20px;
}
.educacion-lista li.icono-secundaria:before {
    content: "🎓";
    margin-right: 20px;
}
.educacion-lista li.icono-terciario:before {
    content: "🎓";
    margin-right: 20px;
}
