
.sobre-mi-flex {
    display: flex;
    gap: 20px;
    justify-content: right;
}

.sobre-mi-flex img {
    border-radius: 40%;
    max-width: 200px;
    height: auto;
}
.sobre-mi-flex p {
    flex: 3;
    margin: 10px;
    font-size: 1.8rem;
}


#sobre-mi-flex-titulos {
    gap: 20px;

}

