#Experiencias h2 {
    font-size: clamp(1.8rem, 3vw, 2em);
    margin-bottom: 30px;
    text-align: center;
}

.experiencia-item p {
    font-size: 1.6rem;
    margin: 0 10px;
}

.experiencias-flex {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.experiencia-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.experiencias-img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
    transition: transform 0.3s;
}